---
import Link from '@components/Link.astro'
import Layout from '@components/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>This page is About.</h1>
    <Link href="/">Home</Link>
  </main>
</Layout>

<style lang="scss">
  h1 {
    color: #fff;
    font-size: 5rem;
  }
</style>
