---
import Link from '@components/Link.astro'
import Layout from '@components/Layout.astro'
import Contents from '@components/Contents.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>This page is Home.</h1>
    <Link href="/astro-prettier-test/about">About</Link>
    <Contents items={5} />
  </main>
</Layout>

<style lang="scss">
  h1 {
    color: #fff;
    font-size: 5rem;
  }
  main {
    padding: 2rem;
    min-height: 300vh;
  }
</style>
